@font-face {
  font-family: "slick";
  src: url("fonts/slick.eot?") format("eot"), url("fonts/slick.woff2") format("woff2"), url("fonts/slick.woff") format("woff"), url("fonts/slick.ttf") format("truetype"), url("fonts/slick.svg#slick") format("svg"); }
@font-face {
  font-family: "Roboto Bold";
  src: url("fonts/roboto-bold.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto edium";
  src: url("fonts/roboto-medium.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto Regular";
  src: url("fonts/roboto-regular.ttf") format("truetype"); }
/* line 7, ../sass/style.sass */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 12, ../sass/style.sass */
a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-family: "Roboto Medium", Arial; }
  /* line 17, ../sass/style.sass */
  a:hover {
    color: #000;
    text-decoration: none; }

/* line 21, ../sass/style.sass */
ul {
  list-style: none; }

/* line 23, ../sass/style.sass */
body {
  overflow-x: hidden; }

/* line 25, ../sass/style.sass */
header {
  background-image: url("../img/headerBack.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }
  /* line 30, ../sass/style.sass */
  header h1 {
    font-size: 45px;
    font-family: "Roboto Medium", Arial; }
  /* line 33, ../sass/style.sass */
  header .navbar {
    float: right;
    margin-bottom: 175px;
    margin-top: 10px; }
    /* line 38, ../sass/style.sass */
    header .navbar .navbar-nav .nav-item {
      font-family: "Roboto Medium", Arial;
      font-size: 21px;
      color: white; }
      /* line 42, ../sass/style.sass */
      header .navbar .navbar-nav .nav-item a {
        color: white; }
  /* line 44, ../sass/style.sass */
  header .workingOutList {
    font-family: "Roboto Medium", Arial;
    font-size: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    /* line 48, ../sass/style.sass */
    header .workingOutList li:nth-child(-n+2) {
      margin-right: 25px;
      position: relative; }
      /* line 51, ../sass/style.sass */
      header .workingOutList li:nth-child(-n+2):after {
        content: "";
        background-color: white;
        height: 25px;
        width: 3px;
        display: inline-block;
        margin-left: 10px;
        position: absolute;
        bottom: 8px; }
  /* line 60, ../sass/style.sass */
  header p {
    font-size: 20px;
    font-family: "Roboto Medium", Arial;
    margin-top: 80px; }
  /* line 64, ../sass/style.sass */
  header .headerButton {
    width: 250px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid #4376BB;
    margin-bottom: 130px;
    margin-top: 55px; }

/* line 77, ../sass/style.sass */
main .heading {
  text-align: center;
  margin-top: 85px;
  margin-bottom: 40px;
  line-height: 1.7; }
  /* line 82, ../sass/style.sass */
  main .heading h2 {
    font-family: "Roboto Medium", Arial;
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 30px; }
  /* line 87, ../sass/style.sass */
  main .heading p {
    font-size: 21px;
    font-family: "Roboto Medium", Arial; }
/* line 90, ../sass/style.sass */
main .blockOffers {
  height: 320px;
  background-color: #E6E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  line-height: 2;
  padding: 10px; }
  /* line 99, ../sass/style.sass */
  main .blockOffers .buttonOffers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Roboto Medium", Arial;
    font-size: 17px;
    height: 40px;
    width: 167px;
    background-color: white;
    border: 4px solid #4376BB; }
  /* line 109, ../sass/style.sass */
  main .blockOffers h3 {
    color: #436DB5;
    font-size: 25px;
    font-family: "Roboto Medium", Arial; }
  /* line 114, ../sass/style.sass */
  main .blockOffers p {
    font-size: 17px;
    font-family: "Roboto Regular", Arial; }
/* line 117, ../sass/style.sass */
main .buttonUnderOffers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto Medium", Arial;
  font-size: 21px;
  border-bottom: 3px solid #4376BB;
  width: 295px;
  height: 43px;
  margin: 60px auto 35px auto; }
  /* line 127, ../sass/style.sass */
  main .buttonUnderOffers svg {
    font-size: 14px;
    margin-left: 10px; }
/* line 130, ../sass/style.sass */
main .blockAboutUs {
  background-color: #E6E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 135, ../sass/style.sass */
  main .blockAboutUs h3 {
    margin-top: 45px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 55px; }
  /* line 140, ../sass/style.sass */
  main .blockAboutUs p {
    font-size: 21px;
    font-family: "Roboto Regular", Arial;
    color: #5D5D5D; }
  /* line 144, ../sass/style.sass */
  main .blockAboutUs .buttonUnderOffers {
    margin-bottom: 80px;
    width: 206px;
    margin-left: 0; }
    /* line 148, ../sass/style.sass */
    main .blockAboutUs .buttonUnderOffers svg {
      margin-left: 5px; }
/* line 150, ../sass/style.sass */
main #block-for-slider {
  width: 800px;
  margin: 0 auto;
  margin-top: 56px; }
  /* line 154, ../sass/style.sass */
  main #block-for-slider #viewport {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
  /* line 165, ../sass/style.sass */
  main #block-for-slider #slidewrapper {
    position: relative;
    width: calc(100% * 8);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; }
  /* line 178, ../sass/style.sass */
  main #block-for-slider #slidewrapper ul,
  main #block-for-slider #slidewrapper li {
    margin: 0;
    padding: 0; }
  /* line 182, ../sass/style.sass */
  main #block-for-slider #slidewrapper li {
    width: calc(100% / 8 - 420px);
    list-style: none;
    display: inline;
    float: left;
    background-color: white;
    margin-right: 20px;
    border: 16px solid #D9D8D9;
    height: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 10px 0 10px;
    line-height: 2; }
    /* line 196, ../sass/style.sass */
    main #block-for-slider #slidewrapper li span {
      font-size: 25px;
      font-family: "Roboto Medium", Arial;
      font-weight: bold; }
    /* line 200, ../sass/style.sass */
    main #block-for-slider #slidewrapper li p {
      font-size: 17px;
      font-family: "Roboto Regular", Arial; }
  /* line 203, ../sass/style.sass */
  main #block-for-slider .slide-img {
    display: block;
    margin: 30px auto 30px auto; }
  /* line 206, ../sass/style.sass */
  main #block-for-slider #prev-btn, main #block-for-slider #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0; }
  /* line 212, ../sass/style.sass */
  main #block-for-slider #prev-btn {
    left: 25%;
    cursor: pointer; }
    /* line 215, ../sass/style.sass */
    main #block-for-slider #prev-btn img {
      width: 95%; }
  /* line 217, ../sass/style.sass */
  main #block-for-slider #next-btn {
    right: 25%;
    cursor: pointer; }
    /* line 220, ../sass/style.sass */
    main #block-for-slider #next-btn img {
      width: 95%; }
/* line 222, ../sass/style.sass */
main .buttonProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 36px;
  width: 170px;
  border: 4px solid #4376BB;
  background-color: white; }
/* line 231, ../sass/style.sass */
main .advantage .buttonUnderOffers {
  margin-bottom: 20px;
  width: 206px; }
  /* line 234, ../sass/style.sass */
  main .advantage .buttonUnderOffers svg {
    margin-left: 5px; }
/* line 237, ../sass/style.sass */
main .advantage h3 {
  font-family: "Roboto Medium", Arial;
  font-size: 29px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 85px; }
/* line 243, ../sass/style.sass */
main .advantage p {
  font-size: 21px;
  font-family: "Roboto Medium", Arial;
  margin-bottom: 80px; }
/* line 247, ../sass/style.sass */
main .advantage div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: start;
  text-align: center; }
  /* line 254, ../sass/style.sass */
  main .advantage div span {
    font-family: "Roboto Bold", Arial;
    font-size: 21px;
    margin-bottom: 55px;
    margin-top: 30px; }
  /* line 259, ../sass/style.sass */
  main .advantage div p {
    font-family: "Roboto Regular", Arial;
    font-size: 17px; }

/* line 262, ../sass/style.sass */
footer {
  background-color: #4376BB; }
  /* line 265, ../sass/style.sass */
  footer .myTool {
    position: relative; }
  /* line 267, ../sass/style.sass */
  footer .contact {
    position: absolute;
    top: 0;
    height: 99.2%;
    width: 60%;
    background-color: rgba(248, 250, 245, 0.8);
    left: 31.3px; }
    /* line 274, ../sass/style.sass */
    footer .contact .heightForBlock {
      height: 100%; }
    /* line 276, ../sass/style.sass */
    footer .contact .footerButton {
      width: 250px;
      background-color: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      height: 50px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 2px solid #4376BB;
      margin-bottom: 130px; }
    /* line 286, ../sass/style.sass */
    footer .contact h3 {
      font-family: "Roboto Bold", Arial;
      font-size: 25px;
      color: black;
      margin-bottom: 40px;
      text-align: left; }
    /* line 292, ../sass/style.sass */
    footer .contact span {
      display: block;
      font-family: "Roboto Bold";
      font-size: 21px; }
    /* line 296, ../sass/style.sass */
    footer .contact .text {
      font-family: "Roboto Regular", Arial;
      margin-bottom: 35px; }
  /* line 299, ../sass/style.sass */
  footer .contentFooter {
    margin-bottom: 16px; }
  /* line 301, ../sass/style.sass */
  footer iframe {
    width: 100%; }
  /* line 303, ../sass/style.sass */
  footer img {
    width: 100%;
    height: 100%; }
  /* line 306, ../sass/style.sass */
  footer h3 {
    margin-top: 35px;
    margin-bottom: 60px;
    font-family: "Roboto Bold", Arial;
    font-size: 30px;
    color: white;
    text-align: center; }
  /* line 313, ../sass/style.sass */
  footer p {
    font-family: "Roboto Bold", Arial;
    font-size: 18px;
    color: white; }

/*# sourceMappingURL=style.css.map */